<table>
  <tr>
    <th>Text</th>
    <th>Points</th>
  </tr>
  <% branches.each do |branch| %>
  <tr>
    <td><%= link_to branch.leaf_text, forest_seed_branch_path(branch.forest_id, branch.root_id, branch.id) %></td>
    <td><%= branch.points %></td>
  </tr>
  <% end %>
</table>
