<div id='login'>
  <% if current_user %>
    Welcome <%= current_user.name %>
    [<%= link_to 'Dashboard', my_account_path %> |
     <%= link_to 'Logout', signout_path %>]
  <% else %>
    <%= link_to image_tag('facebook_connect.gif'), '/storytree/auth/facebook' %>
  <% end %>
</div>
