<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  </head>
  <body>
    <p>
      Hey <%= @user.login %>,<br/>
      <br/>
      Someone played off of one of your Storytree branches!<br/>
      Check it out <%= link_to 'here', forest_seed_branch_url(@branch.forest_id, @branch.root.id, @branch) %>.<br/>
      <br/>
      Sincerely,<br/>
      The Storytree Team
    </p>
  </body>
</html>
