<table>
  <tr>
    <th>Title</th>
    <th>Publisher</th>
    <th>Points</th>
  </tr>
  <% publications.each do |pub| %>
  <tr>
    <td><%= link_to pub.branch.title, forest_publication_path(pub.forest_id, pub.id) %></td>
    <td><%= link_to pub.user.login, user_path(pub.user_id) %></td>
    <td><%= pub.points %></td>
  </tr>
  <% end %>
</table>
