<h1>Listing works</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Points</th>
  </tr>
  <% @publications.each do |publication| %>
  <tr>
    <td><%= publication.branch.title %></td>
    <td><%= publication.points %></td>
  </tr>
  <% end %>
</table>
