<h1><%= @publication.branch.title %></h1>
<p>
  <b>Publisher:</b>
  <%= @publication.user.login %>
</p>

<p>
  <b>Points:</b>
  <%= @publication.points %>
</p>

<p><%= @publication.branch.story %></p>
