* {margin: 0; padding: 0;}

html, body {
	height: 100%;
}

body {
  background: url('../images/background.svg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h1, h2, h3, h4 {
  color: #79b53e;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

/* Top Bar */

#topnav {
  width: 100%;
  height: 35px;
  background-image:url('../images/topnav.gif');
}

#topnav ul {
	list-style: none;
	line-height: normal;
}

#topnav li {
	display: block;
  height: 35px;
  border-right: 1px solid gray;
}

#topnav a {
	padding: 10px 20px 8px 20px;
	text-decoration: none;
	color: white;
	font-size: 14px;
}

#topnav a:hover {
  color: #7ed7f7;
  background-color: transparent;
}

#logo {
  height: 35px;
  width: 125px;
  padding-left: 10px;
  float: left;
}

#logo a {
  padding: 0;
}

#logo a:hover {
  background-color: transparent;
}

#nav, #login { height: 35px; }

#nav, #nav li, #nav a { float: left; }

#login, #login li, #login a { float: right; }

#searchwrapper {
  width:230px; /*follow your image's size*/
  height:40px;/*follow your image's size*/
  background-image:url(../images/search.gif);
  background-repeat:no-repeat; /*important*/
  padding:0px;
  margin:0px;
  /*position:relative; /*important*/
  position:absolute;
  top:5px;
  right:75px;
}

#searchwrapper form { display:inline; }

#searchwrapper { border:0; }

.searchbox {
  border:0px; /*important*/
  background-color:transparent; /*important*/
  position:absolute; /*important*/
  top:3.5px;
  right:20px;
  width:175px;
  height:20px;
}

.searchbox_submit {
  border:0px; /*important*/
  background-color:transparent; /*important*/
  position:absolute; /*important*/
  top:2px;
  left:10px;
  width:25px;
  height:22px;
}

/* End Top Bar */

/* Main Content */

#page {
  width: 900px;
  margin: 50px auto 50px auto;
  padding: 10px 10px 10px 10px;
  background-color: #cccccc;
  border-radius: 15px;
  z-index:2;
  background: rgb(194, 206, 212);
  /* RGBa with 0.6 opacity */
  background: rgba(194, 206, 212, 0.8);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

#content {
  min-height: 600px;
	width: 870px;
	overflow: auto;
	margin: 0 auto 0 auto;
	padding: 15px;
	background-color:#f0f3f4;
	border-radius: 15px;
	z-index:2;
  background: rgb(240, 243, 244);
  /* RGBa with 0.6 opacity */
  background: rgba(240, 243, 244, 0.8);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

aside{
	float:left;
}

aside li {
	text-decoration:none;
}

/* End Main Content */

#footer {
	text-align:center;
	z-index:2;
	vertical-align:baseline;
}

/* Begin Rails defaults */

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: black; }
a:visited { color: black; }
a:hover {
  color: #7ed7f7;
  text-decoration: underline;
}

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* end rails presets */

#story {
  width: 500px;
  padding: 10px;
  border: 1px dotted #88db57;
}

#branches { width: 500px; }

.branch {
  border: 1px dotted #88db57;
  margin: 5px 0px 5px;
  padding: 5px 5px 5px 5px;
}

.ancestor {
  width: inherit;
  padding: 1px 5px 1px 5px;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
  width: inherit;
  margin-bottom: 20px;
}

table th {
  border: 1px solid black;
  padding: 0.5em;
  color: black;
  background-color: #ceedfc;
}

table tr {
  border: 1px solid black;
}

table td {
	padding: 0.5em;
	border: 1px solid black;
	background: white;
	color: black;
}
