<h1>Top Users</h1>

<table>
  <tr>
    <th>Pen Name</th>
    <th>Points</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.login, user_path(user.id) %></td>
      <td><%= user.points %></td>
    </tr>
  <% end %>
</table>
