<h1>Top Authors</h1>

<table>
  <tr>
    <th>Pen Name</th>
    <th>Points</th>
  </tr>
  <% @users.each do |user| %>
    <tr>    
      <td><%= user.login %></td>
      <td><%= user.points %></td>
    </tr>
  <% end %>
</table>
