<h1>About</h1>

<p>
  StoryTree is currently being developed by a team of students from
  Northwestern University. Our goal is to provide a great game experience that
  encourages collaboration, writing with friends and being creative!
</p>

<p>
  We invite you to write whatever you like. Fiction, nonfiction, one-liners,
  it’s all-good! Make your posts funny. Make your posts exciting. The more
  people who enjoy reading your work and post off you, the more points you earn.
</p>
