<h1>Welcome to Story Tree!</h1>

<p>
Story tree is a social game that lets you collaboratively build stories with friends.
Log in through Facebook to start playing.
</p>

<h2>Hot seeds right now</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Author</th>
    <th>Points</th>
  </tr>
  <% @seeds.each do |seed| %>
  <tr>
    <td><%= link_to seed.title, forest_seed_leaf_path(seed.forest_id, seed.id, seed.id) %></td>
    <td><%= seed.leaf_text %></td>
    <td><%= seed.author.name %></td>
    <td><%= seed.points %></td>
  </tr>
  <% end %>
</table>
