<h1>Welcome to Story Tree!</h1>

<p>
  StoryTree is a social story building game. Collaborate and build off other players with creative posts.
  Good posts will win you points which are redeemable for new seeds and publication rights.
  <%= link_to 'Register', new_user_path %> or <%= link_to 'login', new_session_path %> to start playing.
</p>

<h2>Hot seeds right now</h2>

<%= render :partial => 'leaves/leaves', :object => @seeds, :as => :leaves %>
