<% @leaf.children.order('points DESC').each do |branch| %>
  <div id='<%= branch.id %>' class='branch'>
    <div class='points'>[<%= branch.points %>]</div>
    <%= branch.leaf_text %>
  </div>
<% end %>
