//append newly created branch to branches
$('#branches').append(
  "<div id='<%= @leaf.id %>' class='branch'><div class='points'>[<%= @leaf.points %>]</div><%= @leaf.leaf_text %></div>"
);

//clear leaf form
$('#leaf_leaf_text').val('');

//reload javascript for binds
$(document).append("<script src='/javascripts/application.js'></script>")
