<h1>Seeds</h1>

<%= link_to 'Plant', new_seed_path %><br/>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Points</th>
  </tr>
  <% @seeds.each do |seed| %>
  <tr>
    <td>seed.title</td>
    <td>seed.story</td>
    <td>seed.points</td>
  </tr>
  <% end %>
</table>
