<h1>Climb Tree</h1>

<h3>Current Story</h3>
<div id='story' class='dialogue'>
  <%= @seed.story %>
</div>

<h3>Branches</h3>
<div id='children' class='dialogue'>
  <%= render :partial => 'leaves/children', :object => @seed, :as => :leaf %>
</div>

<h3>Create Branch</h3>
<div id='leaf_form'>
  <%= render :partial => 'leaves/form', :object => @seed, :as => :parent %>
</div>
