<h1>Forests</h1>

<%= button_to 'New Forest', new_forest_path, :method => :get %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Seeds</th>
  </tr>

<% @forests.each do |forest| %>
  <tr>
    <td><%= link_to forest.name, forest_path(forest) %></td>
    <td><%= forest.description %></td>
    <td><%= forest.seeds.count %></td>
  </tr>
<% end %>
</table>
