<h1><%= @forest.name %></h1>

<p><%= @forest.description %></p>

<%= button_to 'Plant New Seed', new_forest_seed_path(@forest.id), :method => :get %>

<%= render :partial => 'branches/list', :object => @forest.seeds, :as => :branches %>
